/* css styles */

:root {
    --primary-color: #0e71b5;
}

.hero {
    text-align: center;
    margin-bottom: 1.5rem;
    padding-top: 0px !important;
}

.hero-content {
    backdrop-filter: brightness(60%) blur(2px);
    height: 100%;
    padding: 6rem 0 !important;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero .subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.hero .actions {
    font-size: 1.25rem;
    font-weight: 300;

}

h1, h2, h3, h4, h5 {
    color: var(--primary-color);
}

h4, h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem !important;
}


.list-style-none ul {
    padding: 0px;
}

.list-style-none li {
    list-style: none;
}

.home a {
    color: inherit;
}

.home a {
    color:inherit;
    text-decoration:underline;
    text-decoration-color:#ffde00;
    text-decoration-style:dotted
  }
  .home a:hover {
    color:inherit;
    text-decoration:underline;
    text-decoration-color:#ffde00;
    text-decoration-style:solid;
    text-decoration-thickness:2px
  }


.home .home-services {
    text-align: center;
}

.home h2 {
    text-align: center;
}